/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.header {

  border-bottom: 1px solid #CCC;
  position: sticky;
  top: 0;
  background: #FFF;
  

  .nav {
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 10%;
      display: flex;
      justify-content: center;

      cursor: pointer;
    }

    .links,
    .social {

      ul {
        display: flex;
        list-style: none;

        margin: 0;
        padding: 0;

        li {
          margin: 0 1rem;
          cursor: pointer;

          a {
            text-decoration: none;
            color: #0f0f0f;
          }
        }
      }
    }

    .links {
      ul {
        li {
          padding: 1.45rem 0;
          width: 60px;
          text-align: center;
          a {

            transition: .5s ease;

            &:hover {
              color: #888888;
            }
          }
        }
      }
    }
  }
}

.main {
  background-color: #0f0f0f;
  color: #FFF;
  width: 100%;
  height: 100vh;
  padding: 1rem 5rem;

}